<form (submit)="onSubmit($event)">
  <label>
    Name:
    <input type="text" [formField]="contactForm.name">
  </label>
  @if(contactForm.name().touched() && contactForm.name().invalid())
  {
    @for (error of contactForm.name().errors(); track error)
    {
      <p style="color: red;">{{error.message}}</p>
    }
  }

  <label>
    Phone Number:
    <input type="text" [formField]="contactForm.phone">
  </label>
  @if(contactForm.phone().touched() && contactForm.phone().invalid())
  {
    @for (error of contactForm.phone().errors(); track error)
    {
      <p style="color: red;">{{error.message}}</p>
    }
  }

  <label>
    Messaggio:
    <textarea [formField]="contactForm.message" rows="4"></textarea>
  </label>
  @if(contactForm.message().touched() && contactForm.message().invalid())
  {
    @for (error of contactForm.message().errors(); track error)
    {
      <p style="color: red;">{{error.message}}</p>
    }
  }

  <button type="submit">Send</button>
</form>
